<!DOCTYPE html>
<html>
<head>
	<title>{Title}</title>
	<meta http-equiv=Content-Type content='text/html' />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	
	<link rel='icon' sizes='192x192' href='{Icon}' />

	{Styles}
	{Scripts}
	
</head>

<body>
	<header class="header" x-data="{ open: false }" >
		<div class="header-logo">
			<a href="/">
				<img src="{Logo}" >
			</a>
		</div>
		{Menu}
		{User}
	</header>
	
	<div class="panel-options">
		{Panel}
	</div>
	
	<div id="appbody" class="body" style="z-index:0;margin:0px;">
		{Body}
	</div>
	
	<footer>
	
	</footer>
		
	{Window}

</body>

<script language="javascript">
	{Jsvars}
</script>

</html>
