
<article style="margin:30px;width:60%;">
<h1>Bienvenido</h1>
<p>
	Bienvenido al sistema de programacion facil con rframe, con este marco de trabajo
	usted podra hacer aplicaciones complejas de una manera mas facil y rapida,
	su modelo de acceso a la aplicacion ya biene integrado, solo tiene que configurar 
	unas pocas cosas y listo, ya cuenta con una herramienta hecha a la media de sus
	necesidades
</p>
<p>
	Si desea esta funcion puede ser reescrita en cada una de sus aplicaciones
	solo tiene que agregar la funcion wellcome(data) y reescribir su contendio 
	al gusto de sus necesidades.
</p>
</article>
